 {% load static %}
<div class="navbar-container ">
    <nav
      class="navbar navbar-expand-lg justify-content-between navbar-dark bg-primary-3 border-bottom-0"
    >
      <div class="container">
        <div class="col flex-fill px-0 d-flex justify-content-between">
          <a class="navbar-brand mr-0 fade-page" href="index-2.html">
            <img
              src="{% static 'img/logos/neweg2.svg' %}"
              height="50"
              width="50"
              alt="Erwinn Grebo"
            />
          </a>
        </div>
      </div>
    </nav>
  </div>